/* Hide number arrows in Chrome, Safari, Edge, and Opera */
input#teller-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input#teller-amount {
    font-size: xx-large;
    height: 3em;
}