:root {
    --xp-apow-color: var(--xp-magenta);
    --xp-xpow-color: var(--xp-lime);
    --xp-avax-color: white;
    --xp-usdc-color: white;
    --xp-usdt-color: white;
    --xp-none-color: white;
    --xp-trump-color: gold;
}